.contactContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: var(--padding) var(--paddingHalf);
    padding-top: 0px;
    background-color: var(--text-accent);
}

.contactWrapper {
    width: 75%;
    padding: var(--padding);
    background-color: var(--altBackground);
    border-radius: 0 var(--radius) var(--radius) var(--radius);
    color: var(--text-accent);
}

.contactWrapper:first-of-type{
    padding: 0;
    width: auto;
    border-radius: 0;
}

.contactWrapper h2 {
    margin: auto;
    text-align: center;
    margin-bottom: 3vw;
}

.contactMessageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    height: 100%;
    width: auto;
    background-color: var(--text-accent);
    border-radius: 0 var(--radius) 0 0;
    text-align: center;
}

.contactMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vw;
    width: 25vw;
    margin: auto;
    padding: var(--padding);
    background-color: var(--text-accent);
    border-radius: 50%;
}

/* form styles */

form {
    width: 75%;
    margin: auto;
    font-size: 1rem;
}

.contactInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;
}

.contactInput {
    display: flex;
    flex-direction: column;
    height: 25px;
}

.label {
    width: 200px;
    min-width: 50%;
    margin-right: auto;
}

textarea {
    width: 100%;
}

form button {
    height: var(--paddingHalf);
    color: var(--altBackground);
    border-radius: 50px;
    margin-top: auto;
}

.submit {
    margin-right: auto;
    background-color: #26C485;
    width: 10rem;
}

.clear {
    float: right;
    background-color: #DB5461;
    width: 5rem;
}


.socialList {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 6vw;
    padding-bottom: 0vw;
  }
  
.socialList-item {
    margin: auto;
    position: relative;
  }
  
.hoverImage-wrapper {
    margin: auto;
  }
  
.hoverImage {
    position: relative;
    height: 3vw;
    width: 3vw;
    z-index: 2;
  }
  
.mailBlue,
.fbBlue,
.ghBlue,
.phoneBlue,
.mailRed,
.fbRed,
.ghRed,
.phoneRed {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 75%;
  }

  @media screen and (min-width: 510px) and (max-width:1045px) {
    .contactWrapper {
        width: 75%;
    }

    .contactWrapper:first-of-type {
        width: 25%;
    }
  }
  
  @media screen and (min-width: 200px) and (max-width:650px) {
    .contactContainer {
        padding-top: 0;
    }

    .contactWrapper {
        width: 100%;
        border-radius: 0 0 var(--radius) var(--radius);
    }

    .contactWrapper:first-of-type {
        display: none;
    }
  }