.headerContainer {
    position: relative;
    width: 100vw;
    height: auto;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-left: var(--padding-sides);
    padding-bottom: var(--padding);
    overflow: hidden;
}

.headerWrapper {
    flex: 1;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-inner);
    background-color: var(--altBackground);
    z-index: 20;
}

.headerWrapper h2 {
    margin-top: auto;
}

.headerWrapper:first-of-type {
    border-radius: 0 0 0 10vw;
}

.headerWrapper span {
    margin-top: auto;
  }

  @media screen and (max-width:1031px) {
    .headerWrapper {
        border-radius: 0 0 0 10vw;
    }
    
    .headerWrapper:first-of-type {
        border-radius: 0 0 0 0;
    }
  }

  @media screen and (max-width:510px) {
    .services {
        text-align: center;
    }

    .headerWrapper {
        min-width: 100%;
        margin-top: -10px;
    }

    .headerWrapper:first-of-type {
        margin-top: 0;
    }

    .headerWrapper p {
        margin-left: 0px;
      }
  }